
@font-face {
    font-family: "AmericanTypewriterNormal";
    src: url("/Content/Fonts/american-typewriter-normal.eot");
    src: url("/Content/Fonts/american-typewriter-normal.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/american-typewriter-normal.woff") format("woff"), url("/Content/Fonts/american-typewriter-normal.ttf") format("truetype"), url("/Content/Fonts/american-typewriter-normal.svg#american-typewriter-normal") format("svg");
}

@font-face {
    font-family: "AmericanTypewriterLight";
    src: url("/Content/Fonts/american-typewriter-light.eot");
    src: url("/Content/Fonts/american-typewriter-light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/american-typewriter-light.woff") format("woff"), url("/Content/Fonts/american-typewriter-light.ttf") format("truetype"), url("/Content/Fonts/american-typewriter-light.svg#american-typewriter-light") format("svg");
}

@font-face {
    font-family: "AvenirMedium";
    src: url("/Content/Fonts/avenir-medium.eot");
    src: url("/Content/Fonts/avenir-medium.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/avenir-medium.woff") format("woff"), url("/Content/Fonts/avenir-medium.ttf") format("truetype"), url("/Content/Fonts/avenir-medium.svg#avenir-medium") format("svg");
}

@import "master";

/* General */
* {
    border: 0px currentColor;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
}
/* Browser crap to make checkboxes and radios appear in Chrome. Dear Lord.*/
input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
}
/* Page */
html {
    font: 14px/100% "Open Sans", Helvetica, Arial, sans-serif;
    min-height: 100%;
    text-rendering: optimizeLegibility !important;
}

body {
    width: @full-width;
    background-color: @body-grey;
    margin: 0 auto;
    min-height: 100%;
}

h1, h2, h3, p {
    padding: 10px;
}

p {
    line-height: 1.6em;
}

table {
    border-collapse: collapse;
}

a, a:visited, a:hover, a:active {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

ul {
    list-style-type: none;
}

textarea {
    resize: vertical;
}
/* Inputs */
input[type = text], input[type = password] {
    height: 40px;
    width: 100%;
    color: #1c2c36;
    padding: 10px;
}

select {
    padding-left: 10px;
    height: 40px;
    width: 100%;
    color: #1c2c36;
}

input {
    border: 0;
    padding: 0 0 0 0;
    color: transparent;
    padding: 0 0 0 0;
}
/* Validation errors */
.field-validation-error {
}

    .field-validation-error ul {
    }

    .field-validation-error li {
        background: rgba(241, 103, 104, 0.5);
        padding: 3px 3px 3px 7px;
        width: 100%;
        color: @tellat-white;
        margin-top: 3px;
    }
/* Main */
#main {
    width: 100%;
    overflow: hidden;
}
/* Header */
header {
    color: @section-background-grey;
    padding: 15px;
    height: 115px;
    width: @full-width;
    font-weight: bold;
    background-color: @table-cell-background-grey;
}

    header #tellat-logo {
        margin-right: 10px;
        float: left;
        width: 175px;
        height: 85px;
        background-repeat: no-repeat;
        background: url("/Content/Images/Pages/Shared/tellat-logo.png");
    }

    header #tag-cloud {
        float: left;
    }

    header #profile-links {
        .typewriter-font-light;
        font-size: 1.1em;
        font-weight: bold;
        float: right;
    }

    header #search-component {
        margin-left: 194px;
        width: 740px;
        height: 35px;
        margin-top: 28px;
    }

    header #search-element {
        height: 31px;
        display: inline;
        float: left;
    }

    header #create-report {
        float: right;
        display: inline;
        width: 140px;
    }

    header #search-bar {
        background-color: @tellat-white;
        border: solid 1px #3a414d;
        color: @section-background-grey;
        height: 32px;
        padding-left: 5px;
        width: 512px;
    }

    header #search-button {
        width: 48px;
        height: 32px;
        background: url("/Content/Images/Pages/Shared/search-button.png");
        margin-left: 10px;
        display: inline;
        cursor: pointer;
    }

    header #create-button {
        width: 138px;
        height: 31px;
        background: url("/Content/Images/Pages/Shared/btn_report.png");
        cursor: pointer;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
    }


footer {
    width: @full-width;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    background-color: @page-grey;
    .typewriter-font-light;
    font-size: 1.1em;
}

    footer #footer-padding {
        width: @full-width;
        height: 81px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        background-color: transparent;
        background: url("/Content/Images/Pages/Shared/wide_bar.png");
    }

        footer #footer-padding .offset {
            color: @tellat-white;
            padding-left: 240px;
            line-height: 88px;
        }

    footer #footer-top {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    footer #footer-second {
        margin-top: 5px;
        font-size: 0.85em;
        width: 780px;
        margin-left: auto;
        margin-right: auto;
    }

        footer #footer-second .label {
            color: transparent;
            background-repeat: no-repeat;
        }

            footer #footer-second .label.facebook {
                width: 8px;
                height: 15px;
                background: url("/Content/Images/Pages/Shared/img_facebook_red.png");
            }

            footer #footer-second .label.twitter {
                width: 16px;
                height: 13px;
                background: url("/Content/Images/Pages/Shared/img_twitter_red.png");
            }

            footer #footer-second .label.flickr {
                width: 21px;
                height: 10px;
                background: url("/Content/Images/Pages/Shared/img_flickr_red.png");
            }

    footer #footer-third {
        margin-top: 5px;
        font-size: 0.8em;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }


/* Page types */
.page-grey {
    background-color: @page-grey;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-body-grey {
    background-color: @body-grey;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-white {
    background-color: @tellat-white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Master layout */
.column-one {
    float: left;
    width: @left-width;
}

.column-two {
    float: right;
    width: @right-width - 1;
}

/* Primary content */
.primary-content {
    width: 100%;
    overflow: hidden;
}
/* Secondary content */
.secondary-content {
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
    min-height: 500px;
}

.section-header {
    .typewriter-font-light;
    font-size: 1.1em;
    margin: 10px 0 10px 0;
    padding: 10px 40px 10px 10px;
    background-color: @section-background-grey;
    color: @section-header-text-colour;
    text-decoration: none;
    font-weight: bold;
    width: 300px;
    .shaped-border;
}


/* Forms */
.uploadForm {
    font-weight: bold;
}

    .uploadForm table {
    }

    .uploadForm .progress-container {
        background-color: @table-cell-background-grey;
        height: 40px;
        position: relative;
    }

    .uploadForm .progress-label {
        height: 100%;
        width: 100%;
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .uploadForm .progress-bar {
        height: 100%;
        background-color: green;
    }

    .uploadForm table tr {
    }

    .uploadForm table td {
        border: 10px solid transparent;
        background-color: @table-cell-background-grey;
    }

    .uploadForm .label-column {
        text-align: right;
        line-height: 1.4em;
        width: 10%;
    }

    .uploadForm .button-column {
        text-align: right;
        line-height: 1.4em;
        width: 5%;
    }

    .uploadForm .input-column {
        width: 25%;
    }

    .uploadForm .active-column {
        background-color: @tellat-white;
    }

    .uploadForm .text-area {
        width: 100%;
        height: 200px;
        padding: 10px;
        overflow: auto;
    }


/* Buttons */
.red-button {
    height: 40px;
    width: 100%;
    color: @tellat-white;
    background-color:@tellat-red;
    .shaped-border;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}
/* Buttons */
.red-anchor {
    color: @tellat-white;
    background-color:@tellat-red;
    width: 100px;
    .shaped-border;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
}

.large-message {
    font-size: 2em;
    width: 100%;
    display: block;
    text-align: center;
    .typewriter-font-light;
    padding: 50px;
    line-height: 1.6em;

    a {
        color:@tellat-red;
    }
}

.page-element {
    background-color: @tellat-white;
    box-shadow: 0 10px 0 0 @sharebar-grey;
    border-radius: 0 0 15px 15px;
    float: left;
    margin-top: 20px;
    min-height: 150px;


    .element-title {
        .typewriter-font-light;
        font-size: 1.6em;
        line-height: 1.4em;
        color: @tellat-red;
        height:40px;

        .title {
            float: left;
            color: @tellat-red;
            .typewriter-font-light;
        }
    }
}

.wide-element {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    overflow: auto;
}

.sortBy {
    float: right;
    line-height: 16px;
    width: 330px;

    span {
        .typewriter-font-light;
        padding-top: 2px;
        float: left;
        color: @dark-text;
        font-size: 14px;
    }

    .dropDown select {
        margin-left: 2px;
        width: 260px;
        height: 20px;
        background-color: transparent;
        color: @dark-text;
        .typewriter-font-light;
        float: right;
    }
}