﻿@import "master";

#small-report-component {
    float: left;
    width: @left-column-split - 20px;
    height: @left-column-split - 30px;
    background-color: @body-grey;
    .shaped-border;
    margin: 7.5px;

    .report {

        .picture {
            margin-top: 5px;
            margin-left: 5px;
            float: left;
        }

        .thumbnail {
            max-width: @left-column-split - 30px;
            max-height: (@left-column-split - 40px) * 0.75;
            width: auto;
            height: auto;
            .shaped-border;
        }

        h1 {
            padding: 5px;
            padding-bottom: 0;
            .typewriter-font-light;
            font-size: 10px;
            line-height: 10px;
            color: @tellat-red;
            width: 100%;
        }

        h2 {
            padding: 5px;
            .typewriter-font-light;
            font-size: 10px;
            line-height: 10px;
            color: black;
            float: left;
        }

        a {
            text-decoration: none;            
            font-size: 10px;
            line-height: 10px;
        }
    

    .details {
        padding: 10px;
        display: block;
    }
}

    .words {
        width: @left-column-split - 20px;

        .split-span {
            clear: both;

            a {
                float: left;
                font-size: 10px;
                line-height: 12px;
                text-decoration: none;
            }

            span {
                float: right;
                font-size: 10px;
                line-height: 12px;
                text-decoration: none;
            }
        }
    }
}

