﻿.red-text {
  color: #c91e4b;
}
.shaped-border {
  border-radius: 10px 0 10px 0;
}
.typewriter-font-light {
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
}
#sidebar-component .sidebar-featured span {
  padding-bottom: 0;
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.0em;
  width: 100%;
  line-height: 1.4em;
  color: #c91e4b;
  padding-left: 10px;
}
/*# sourceMappingURL=componentSidebar.css.map */