﻿.red-text {
  color: #c91e4b;
}
.shaped-border {
  border-radius: 10px 0 10px 0;
}
.typewriter-font-light {
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
}
#category-component {
  width: 288px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
}
#category-component .header {
  font-size: 1.1em;
  background-color: #2e3641;
  color: #bfcdd7;
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 15px 0 15px 0;
}
#category-component a {
  font-weight: normal;
}
#category-component h1 {
  padding-bottom: 0;
  font-size: 1.0em;
  width: 100%;
  line-height: 1.2em;
  background-color: #ffffff;
}
#category-component h2 {
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 0.9em;
  background-color: #ffffff;
  line-height: 1.6em;
  color: #5a5c60;
}
#category-component h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1.0em;
  background-color: #ffffff;
  color: #c91e4b;
}
#category-component p {
  padding-top: 10px;
  background-color: #ffffff;
}
#category-component .reports {
  clear: both;
  background-color: #ffffff;
  margin-top: 2px;
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0 10px 0 0 #c6c6c6;
  min-height: 220px;
}
#category-component .categoryTitle {
  float: left;
  width: 260px;
}
#category-component .smallIcon {
  float: right;
  height: 26px;
}
#category-component .titleBlock {
  background-color: #ffffff;
  height: 100px;
}
#category-component .titleBlock p {
  padding: 10px;
  font-size: 0.8em;
}
#category-component .split-span {
  width: 98%;
  display: inline-block;
}
#category-component .split-span a {
  float: left;
}
#category-component .split-span span {
  float: right;
}
#category-component .thumbnail {
  max-height: 288px;
  max-width: 288px;
  min-height: 161px;
  z-index: -1;
}
#category-component .imageBlock {
  margin-top: 10px;
  background-color: #2e3641;
}
#category-component span.overlay {
  position: relative;
  z-index: initial;
  display: inline-block;
  left: 20%;
}
#category-component .feature-padding {
  height: 264px;
  background: #ffffff;
  margin-top: 10px;
}
#category-component .reports-block {
  min-height: 175px;
}
/*# sourceMappingURL=componentCategory.css.map */