﻿@import "master";

#navigation-component {
    .typewriter-font-light;
    font-size: 1.0em;

    a {
        text-decoration: none;
        font-weight: bold;
        margin-right: 20px;
    }

    .primary {
        height: 32px;
        width: 100%;
        background-color: @section-background-grey;
    }

    .primary-left {
        width:@left-width;
        float: left;
        padding: 10px;

        a {
            color: @section-header-text-colour;
        }
    }

    .primary-right {
        width:@right-width;
        height: 100%;
        background-color: @page-grey;
        float: right;
        padding: 10px 0 10px 20px;

        a {
            color: @dark-text;
        }
    }

    .secondary {
        height: 32px;
        width: 100%;
        background-color: @soft-text;
    }
}