﻿@import "master";

#sidebar-component .sidebar-featured span {
    padding-bottom: 0;
    .typewriter-font-light;
    font-size: 1.0em;
    width: 100%;
    line-height: 1.4em;
    color: @tellat-red;
    padding-left: 10px;
}
