﻿@import "master";

#user-component {

    .generic-photo {
        background: url('/Content/Images/Pages/Profile/generic-person.png');
    }

    .big-button {
        float:right;
        font-size:12px;
        height:30px;
        line-height:12px;
    }

    .bulk-text {
        clear:both;
        .typewriter-font-light;
        font-size:12px;
    }

    #profile-details {
        width: 95%;
        padding: 10px;
        margin-top: 35px;
        float: right;
        margin-right:10px;

        table {
            width: 100%;
        }

        td {
            border: solid 10px transparent;
        }
    }

    #profile-reports {
        max-height: 400px;
        margin-left:10px;
        width:@left-width - 20px;
    }

    #profile-biography {
        max-height: 300px;
        margin-left:10px;
        width:@left-width - 20px;
    }

    #profile-favourites {
        max-height: 400px;
        margin-left:10px;
        width:@left-width - 20px;
    }

    #profile-notifications {
        max-height: 400px;
        margin-left:10px;
        width:@left-width - 20px;
        margin-bottom:15px;
    }

    #profile-groups {
        max-height: 400px;
        margin-left:10px;
        width:@left-width - 20px;
    }

    #profile-stats {
        width: 95%;
        padding: 10px;
        margin-top: 55px;
        float: right;
        margin-right:10px;
    }


    .twoColumnLeft {
        width: 50%;
        float: left;
    }

    .twoColumnRight {
        width: 50%;
        float: right;
    }

    .photo {
        width: 320px;
        height: 320px;
        margin: 20px auto;


        img {
            width: 320px;
            height: 320px;
            border-radius: 50%;
            background-repeat: no-repeat;
        }
    }

    .upload-button {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .uploadPhotoForm {
        width: 320px;
        margin-left: auto;
        margin-right: auto;


        .progress-contain {
            background-color: transparent;
            height: 30px;
            width: 100px;
        }

        .progress-lab {
            text-align: center;
            z-index: 10;
            color: transparent;
            font-size: 0;
        }

        .progress-br {
            height: 5px;
            background-color: transparent;
            width: 172px;
        }
    }

    .stat {
        float: left;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        width: 100%;


        .number {
            font-size: 32px;
            display: block;
            text-align: center;
            line-height: 32px;
        }

        .label {
            display: block;
            font-size: 14px;
            text-align: center;
        }
    }

    .leftStats {
        float: left;
    }

    .middleStats {
        float: left;
        margin-top: 30px;
        margin-left: 10px;
    }

    .rightStats {
        float: right;
    }

    .my-reports {
        margin-top: 10px;
        width: 100%;
    }
}
