﻿.red-text {
  color: #c91e4b;
}
.shaped-border {
  border-radius: 10px 0 10px 0;
}
.typewriter-font-light {
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
}
#report-owner-component {
  width: 700px;
  padding: 15px;
  background-color: #c6c6c6;
  float: left;
  margin: 10px;
  border-radius: 0 0 15px 15px;
}
#report-owner-component .press {
  color: #ffffff;
  background-color: #c91e4b;
  height: 30px;
  width: 100px;
  border-radius: 10px 0 10px 0;
  padding-left: 20px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 20px;
}
#report-owner-component .switches {
  margin-top: 7px;
}
#report-owner-component .switches span {
  color: #ffffff;
  background-color: #c91e4b;
  border-radius: 10px;
  padding: 6px;
  font-weight: bold;
}
/*# sourceMappingURL=componentReportOwner.css.map */