﻿@import "master";

#comment-component {
    width: @left-width - @left-column-split - 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 0 0 @sharebar-grey;
    border-radius: 0 0 15px 15px;
    background-color: @tellat-white;
    margin-top: 10px;
    margin-left:10px;
    min-height: 200px;
    float:left;

    h1 {
        padding-bottom: 0;
        .typewriter-font-light;
        font-size: 1.6em;
        width: 100%;
        line-height: 1.4em;
        color: @tellat-red;
    }

    .item {
        padding: 15px 15px 15px 15px;
        clear: both;
        float: left;
        overflow: hidden;
        position: relative;
        display: inline;

        .profile-image {
            width: 79px;
            float: left;
        }

        .profile-overlay {
            width: 79px;
            height: 79px;
            position: absolute;
            top: 15px;
            left: 15px;
        }

        .text-area {
            background-color: @tellat-white;
            padding: 10px;
            margin-left: 100px;
            min-height: 79px;
            width: 400px;
            overflow: auto;

            .time-span {
                float: right;
                font-size: 9pt;
            }

            .title {
                font-weight: bold;
            }

            .sub-title {
                line-height: 20px;
                font-size: 11pt;
                margin-top: 5px;
            }
        }
    }
}

#entry-box {
    padding: 20px;
    width: 100%;
}

#comment-area {
    width: 100%;
    border: solid 1px #a5a7a9;
    padding: 10px;
    font-weight: bold;
    color: @dark-text;
    margin-bottom: 20px;
}

#toolbar {
    margin-top: 12px;
    width: 80px;
    height: 32px;
}

#comment-list {
    width: 100%;
    max-height:1000px;
    overflow: auto;
}
