﻿
@tellat-red: #c91e4b;
@tellat-white: #ffffff;

@body-grey: #dadada;
@page-grey: #f2f2f2;
@section-background-grey: #2e3641;
@section-header-text-colour: #bfcdd7;
@table-cell-background-grey: #eaeaea;
@sharebar-grey: #c6c6c6;
@dark-text: #333333;
@soft-text: #5a5c60;

@full-width: 960px;
@left-width: @full-width * 0.75;
@right-width: @full-width - @left-width;

@left-column-split: @left-width * 0.25;

.red-text {
    color: @tellat-red;
}

.shaped-border {
    border-radius: 10px 0 10px 0;
}

.typewriter-font-light {
    font-family: AmericanTypewriterLight, Helvetica, sans-serif;
    font-weight:normal;
}
