﻿.red-text {
  color: #c91e4b;
}
.shaped-border {
  border-radius: 10px 0 10px 0;
}
.typewriter-font-light {
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
}
/*# sourceMappingURL=pageProfile.css.map */