﻿@import "master";

#report-data {

    .tabular {
        display: table;
        border-collapse: separate;
        border-spacing: 3px;
    }

    .wide-block {
        width: 710px;
        margin-left: auto;
        margin-right: auto;
        background-color: @table-cell-background-grey;
        display: table-row;
    }

    .title-block {
        background-color: @table-cell-background-grey;
        width: 95px;
        text-align: right;
        padding-top: 5px;
        padding-right: 5px;
        float: left;
        .typewriter-font-light;
        font-size: 1.0em;
        line-height: 1.6em;
        color: @tellat-red;
    }

    .body-block {
        background-color: @tellat-white;
        float: right;
        width: 615px;
    }


    .progress-container {
        background-color: @table-cell-background-grey;
        height: 30px;
        position: relative;
        width: 411px;
        float: left;
        margin: 2px;
    }

    .progress-label {
        height: 100%;
        width: 100%;
        line-height: 30px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .progress-bar {
        height: 100%;
        width: 1%;
        background-color: green;
    }

    .options-row {
        display: table-row;
    }

        .options-row span {
            display: table-cell;
            width: 153px;
            padding: 5px;
        }

    .hot-button {
        height: 31px;
        width: 196px;
        float: right;
        margin: 1px;
        padding-top: 7px;
    }

    .label-column {
        .typewriter-font-light;
        font-size: 1.0em;
        line-height: 1.1em;
        color: @tellat-red;
        white-space: nowrap;
    }

    .category-title {
        .typewriter-font-light;
        font-size: 1.0em;
        line-height: 1.6em;
        color: @tellat-red;
        text-align: right;
    }

    .radiobutton {
        .typewriter-font-light;
        font-size: 1.0em;
        line-height: 1.1em;
        color: @tellat-red;
        text-align: left;
    }
}


.column-one .element {
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 @sharebar-grey;
    border-radius: 0 0 15px 15px;
    float: left;
    margin-top: 30px;
    min-height: 150px;
}

    .column-one .element .header {
        width: 100%;
        .typewriter-font-light;
        font-size: 1.6em;
        line-height: 1.4em;
        color: @tellat-red;
    }

        .column-one .element .header .title {
        }

        .column-one .element .header a {
            float: right;
            font-size: 0.6em;
            line-height: 0.6em;
            text-decoration: underline;
        }

.column-two .header {
    width: 100%;
    .typewriter-font-light;
    font-size: 1.6em;
    line-height: 1.4em;
    color: @tellat-red;
}

.multiselect {
    height: 160px;
}

#report-uploaded {
    height: 400px;
}

    #report-uploaded .message-body {
    }


#report-master {
    .report {
        width: @left-width - @left-column-split;
        float: left;
    }

    .report-aside {
        width: @left-column-split - 5px;
        float: right;
        margin-bottom: 20px;
        box-shadow: 0 10px 0 0 @sharebar-grey;
        border-radius: 0 0 15px 15px;
        background-color: @tellat-white;
        margin-top: 10px;

        .titling {
            padding-top: 10px;
            padding-bottom: 5px;
            .typewriter-font-light;
            font-size: 1.0em;
            font-weight: bold;
            background-color: @tellat-white;
            color: @tellat-red;
        }

        .reports-list {
        }
    }
}
