﻿@import "master";
.form-group {
    margin-top:10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.red-button {
    width:@left-width / 3 - 30px;
    margin-right:10px;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    height:28px;
    font-size:1em;
    padding:0;
    line-height:1.8em;
}

 .tabular {
        display: table;
        border-collapse: separate;
        border-spacing: 3px;
    }

    .wide-block {
        width: 710px;
        margin-left: auto;
        margin-right: auto;
        background-color: @table-cell-background-grey;
        display: table-row;
    }

    .title-block {
        background-color: @table-cell-background-grey;
        width: 95px;
        text-align: right;
        padding-top: 5px;
        padding-right: 5px;
        float: left;
        .typewriter-font-light;
        font-size: 1.0em;
        line-height: 1.6em;
        color: @tellat-red;
    }

    .body-block {
        background-color: @tellat-white;
        float: right;
        width: 615px;
    }
