@import "master";
#registration-master {
    
    table {
        width: @full-width;
        float:left;
    }

     table tr {
    }

     table td {
        border: solid 10px transparent;
    }

     .label-column {
        text-align: right;
        line-height: 1.4em;
        width: 10%;
    }

     .button-column {
        text-align: right;
        line-height: 1.4em;
        width: 5%;
    }

     .input-column {
        width: 25%;
    }

     .narrow-column {
        width: 17%;
    }

     .tiny-column {
        text-align: right;
        width: 9.5%;
    }

     .text-area {
        width: 100%;
        height: 200px;
        padding: 10px;
    }
}

