﻿.red-text {
  color: #c91e4b;
}
.shaped-border {
  border-radius: 10px 0 10px 0;
}
.typewriter-font-light {
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
}
/* Divider */
#divider-top {
  margin-top: 10px;
  height: 8px;
  background-color: #c91e4b;
  border-top-left-radius: 15px;
}
#divider-bottom {
  margin-bottom: 10px;
  height: 30px;
  background-color: #2e3641;
  border-bottom-right-radius: 15px;
}
#divider-bottom span {
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #bfcdd7;
  margin-left: 10px;
  line-height: 2em;
  font-weight: bold;
}
/* Column */
.categoryColumn {
  float: left;
  min-height: 500px;
}
.information a {
  color: #c91e4b;
}
/*# sourceMappingURL=pageHome.css.map */