﻿.red-text {
  color: #c91e4b;
}
.shaped-border {
  border-radius: 10px 0 10px 0;
}
.typewriter-font-light {
  font-family: AmericanTypewriterLight, Helvetica, sans-serif;
  font-weight: normal;
}
#registration-master table {
  width: 960px;
  float: left;
}
#registration-master table td {
  border: solid 10px transparent;
}
#registration-master .label-column {
  text-align: right;
  line-height: 1.4em;
  width: 10%;
}
#registration-master .button-column {
  text-align: right;
  line-height: 1.4em;
  width: 5%;
}
#registration-master .input-column {
  width: 25%;
}
#registration-master .narrow-column {
  width: 17%;
}
#registration-master .tiny-column {
  text-align: right;
  width: 9.5%;
}
#registration-master .text-area {
  width: 100%;
  height: 200px;
  padding: 10px;
}
/*# sourceMappingURL=pageRegistration.css.map */