﻿@import "master";

#group-master {
    .section-header {
        float: left;
    }

    .button-option {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
        height: 2.2em;
        margin-top: 10px;
    }

    .tall-block {
        min-height:400px;
        background-color:@page-grey;
    }
}

#create-group-master {
    width: 99%;
}
