@import "master";
/* Divider */
#divider-top {
    margin-top: 10px;
    height: 8px;
    background-color: @tellat-red;
    border-top-left-radius: 15px;
}
#divider-bottom {
    margin-bottom: 10px;
    height: 30px;
    background-color: @section-background-grey;
    border-bottom-right-radius: 15px;
}
    #divider-bottom span {
        .typewriter-font-light;
        font-size: 1em;
        color: @section-header-text-colour;
        margin-left: 10px;
        line-height:2em;
        font-weight:bold;
    }
/* Column */
.categoryColumn {
    float: left;
    min-height: 500px;
}

.information {
    a {
        .red-text;
    }
}
