﻿@model Tellat2.Components.ViewModels.FooterComponentViewModel

<!-- Footer component -->
<div id="footer">

    <div id="footer-padding">
        <span class="offset">
            <span>&#169; @DateTime.Now.Year ALL RIGHTS RESERVED</span>
            <b>|</b>
            <span>
                <a href="@Url.Action("Index", "Terms")">Terms of Use</a>
            </span>
            <b>|</b>
            <span>
                <a href="@Url.Action("Index", "Privacy")">Privacy Statement</a>
            </span>
        </span>
    </div>
    <div id="footer-top" class="links">
        @foreach (var item in @Model.Categories)
            {
            <a href="@Url.Action("Index", "Category", new { id = @item.ID })">@item.Title</a>
            <b>|</b>
            }
        <a href="@Url.Action("All", "Users")">Reporters</a>
        <b>|</b>
        <a href="@Url.Action("Index", "Groups")">Newsgroups</a>
        <b>|</b>
        <a href="@Url.Action("Index", "Profile")">My Profile</a>
    </div>
    <div id="footer-second" class="links">
        <span>Find us on</span>
        <img class="label facebook" />
        <a href="@Url.Action("Index", "Home")">Facebook</a>
        <b>|</b>
        <img class="label twitter" />
        <a href="@Url.Action("Index", "Home")">Twitter</a>
        <b>|</b>
        <img class="label flickr" />
        <a href="@Url.Action("Index", "Home")">Flickr</a>
        <b>|</b>
        <a href="@Url.Action("Index", "Guide")">How to be a Reporter</a>
        <b>|</b>
        <a href="@Url.Action("Index", "Faq")">FAQ</a>
        <b>|</b>
        <a href="@Url.Action("Index", "Home")">Mobile</a>
        <b>|</b>
        <a href="@Url.Action("Index", "About")">About us</a>
        <b>|</b>
        <a href="@Url.Action("Index", "Contact")">Contact us</a>
    </div>
    @if(Model.IsCurrentUserAdmin())
    {
        <div id="footer-third" class="links">
            <a href="@Url.Action("Index", "UsersAdmin")">Manage Users</a>
            <b>|</b>
            <a href="@Url.Action("Index", "RolesAdmin")">Manage Roles</a>
            <b>|</b>
            <a href="@Url.Action("Index", "CategoriesAdmin")">Manage Categories</a>
        </div>
    }
</div>

