﻿@using Tellat2.Extensions
@model Tellat2.Pages.ViewModels.ReportsViewModel

@Styles.Render("~/Content/Reports")
@{
    ViewBag.Title = @Model.Title;
}

<!-- Primary content -->
<div class="primary-content">
    @{if (@Model.PrimaryReport != null)
    {
        Html.RenderAction("Index", "VideoComponent", new { reportId = @Model.PrimaryReport.ID });
    }
    }
    </div>

    <!-- Secondary content -->
    <div class="secondary-content">
        @{ Html.RenderAction("Index", "ReportsComponent", new { reports = @Model.Reports, sortCriterion = @Model.ReportsSortCriterion, title=@Model.Title }); }
    </div>
