@model Tellat2.Pages.ViewModels.ReportViewModel
@Styles.Render("~/Content/Report")

<div id="report-data">
    <!-- Column one -->
    <div class="column-one">
        <div class="section-header">Upload a Report</div>
        <!-- Registration form -->
        @using (Html.BeginForm("Create", "Report", FormMethod.Post, new { @class = "uploadForm" }))
        {
            @Html.HiddenFor(m => m.UploadedVideoBlobName, new { @id = "blobName" })
        <!-- Validation messages -->
            <div class="field-validation-error">
                @Html.ValidationSummary(false)
            </div>
            <div class="tabular">

                <div class="wide-block">
                    <div class="title-block">
                        add media
                    </div>
                    <div class="body-block">
                        <div id="progress-container" class="progress-container">
                            <div id="progress-bar" class="progress-bar"></div>
                            <div id="progress-label" class="progress-label"></div>
                        </div>
                        <a id="select-button" class="red-anchor hot-button">Select a file</a>
                    </div>
                </div>

                <div class="wide-block">
                    <div class="title-block">
                        report title
                    </div>
                    <div class="body-block">
                        @Html.TextBoxFor(m => m.Report.Title, new { autocomplete = "off", placeholder = "Enter a title for the report" })
                    </div>
                </div>

                <div class="wide-block">
                    <div class="title-block">
                        report
                    </div>
                    <div class="body-block">
                        @Html.TextAreaFor(m => m.Report.Text, new { @class = "text-area", placeholder = "Enter the main body of your report" })
                    </div>
                </div>

                <div class="wide-block">
                    <div class="title-block">
                        tags
                    </div>
                    <div class="body-block">
                        @Html.TextBoxFor(m => m.SuggestedTags, new { autocomplete = "off", placeholder = "Enter some key words to help users find your report" })
                    </div>
                </div>

                <div class="wide-block">
                    <div class="title-block">
                        categories
                    </div>
                    <div class="body-block">
                        <div class="options-row">
                            <span class="input-column category-title active-column">@Model.Categories[0].Title</span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[0])</span>
                            <span class="input-column category-title active-column">@Model.Categories[1].Title </span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[1])</span>
                        </div>

                        <div class="options-row">
                            <span class="input-column category-title active-column">@Model.Categories[2].Title </span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[2])</span>
                            <span class="input-column category-title active-column">@Model.Categories[3].Title </span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[3])</span>
                        </div>
                        <div class="options-row">
                            <span class="input-column category-title active-column">@Model.Categories[4].Title</span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[4])</span>
                            <span class="input-column category-title active-column">@Model.Categories[5].Title </span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[5])</span>
                        </div>
                        <div class="options-row">
                            <span class="input-column category-title active-column">@Model.Categories[6].Title </span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[6])</span>
                            <span class="input-column category-title active-column">@Model.Categories[7].Title </span>
                            <span class="input-column active-column">@Html.CheckBoxFor(m => m.CategoryIds[7])</span>
                        </div>
                    </div>
                </div>

                @{ int nGroups = Model.GroupLinks.Count, nRows = 1 + nGroups / 2;
                 if (nGroups > 0)
                 {
                    <div class="wide-block">
                        <div class="title-block">
                            groups
                        </div>
                        <div class="body-block">
                            @{for (int iRow = 0, iOffset = 0; iRow < nRows; iRow++, iOffset += 2)
                            {
                                <div class="options-row">
                                    @Html.HiddenFor(m => m.GroupLinks[iOffset].GroupId)
                                    <span class="input-column category-title active-column">@Model.GroupLinks[iOffset].GroupName </span>
                                    <span class="input-column active-column">@Html.CheckBoxFor(m => m.GroupLinks[iOffset].IsLinked)</span>
                                    @{
                                if (iOffset < nGroups - 1)
                                {
                                    @Html.HiddenFor(m => m.GroupLinks[iOffset + 1].GroupId)
                                    <span class="input-column category-title active-column">@Model.GroupLinks[iOffset + 1].GroupName </span>
                                        <span class="input-column active-column">@Html.CheckBoxFor(m => m.GroupLinks[iOffset + 1].IsLinked)</span>
                                }
                                    }
                                </div>
                            }
                            }
                        </div>
                    </div>
                 }
                }

                <div class="wide-block">
                    <div class="title-block">
                        privacy
                    </div>
                    <div class="body-block">
                        <div class="options-row">
                            <span></span>
                            <span></span>
                            <span class="radiobutton active-column">@Html.RadioButtonFor(m => m.Scope, "Private", new { id = "b0", @style = "radio" }) Private</span>
                            <span class="radiobutton active-column">@Html.RadioButtonFor(m => m.Scope, "Public", new { id = "b2", @style = "radio" }) Public</span>
                        </div>
                    </div>
                </div>

                <div class="wide-block">
                    <div class="title-block">
                        staging
                    </div>
                    <div class="body-block">
                        <div class="options-row">
                            <span></span>
                            <span></span>
                            <span class="radiobutton active-column">@Html.RadioButtonFor(m => m.LifeStage, "Incomplete", new { id = "b10", @style = "radio" }) Draft</span>
                            <span class="radiobutton active-column">@Html.RadioButtonFor(m => m.LifeStage, "Complete", new { id = "b11", @style = "radio" }) Final</span>
                        </div>
                    </div>
                </div>

                <div class="wide-block">
                    <input type="submit" value="Publish" class="red-button hot-button" disabled="disabled" />
                </div>
            </div>
        }
    </div>
    <div class="column-two">
        @{Html.RenderAction("Index", "DashboardComponent", new { id = @Model.CurrentUserId });}

    </div>
</div>

<!-- Fineuploader initialisation -->
<script>
    $(document).ready(function () {
        var uploader = new qq.FineUploaderBasic({
            button: $('#select-button')[0],
            request: {
                endpoint: '@Url.Action("UploadVideo", "Upload")'
            },
            validation: {
                allowedExtensions: ['mp4', 'm4v', 'wmv', 'mov', 'avi']
            },
            callbacks: {
                onComplete: function (id, fileName, responseJson) {
                    if (responseJson.success) {
                        $("#progress-label").html(fileName);
                        $('#progress-bar').width(0);
                        $('#blobName').val(responseJson.blobName);
                        // Enable the Publish button
                        $("input[type=submit]").removeAttr("disabled");
                    }
                    else {
                        // Rather than show the 403 (or whatever) as below, we show our own human-readable message
                        // that came back from the code
                        $("#progress-label").html(responseJson.message);
                    }
                },
                onError: function (id, fileName, errorReason, xhr) {
                    //$("#progress-label").html("Failed: " + errorReason);
                    //$('#progress-bar').width(0);
                },
                onProgress: function (id, fileName, loaded, total) {
                    $("#progress-label").html("Uploading...");
                    $('#progress-bar').width(Math.round(loaded / total * 100) + '%');
                }
            }
        });
    });
</script>


