﻿@Styles.Render("~/Content/Report")
@{
    ViewBag.Title = "Uploaded";
}

<!-- Column one -->
<div id="report-uploaded" >

    <div class="section-header"><span>Report uploaded to tell<span class="red-text">at</span></span></div>

    <div class="message-body">
        <span class="large-message">
            Your report has been uploaded successfully - we're adjusting it for web broadcast and it will be available for viewing within a few minutes. Thank you for using tell<span class="red-text">at</span>!
        </span>
    </div>

</div>




