﻿@using Tellat2.Extensions
@model Tellat2.Pages.ViewModels.GuideViewModel

@Styles.Render("~/Content/guide")

<div id="guide_master">


    <div class="section-header">How to be a Reporter</div>

    <p>
        We've written a guide which we hope will provide useful tips and help you to get the most out of TellAt.
    </p>
    <p class="download">
        It's in PDF format - download it <a href="/Content/downloads/tellat-manual-v04.1.pdf" target="_blank">here</a>!
    </p>




</div>
