﻿@using Framework2.Core.Extensions
@using Tellat2.Extensions
@model Tellat2.Components.ViewModels.SmallMemberComponentViewModel

@Styles.Render("~/Content/componentSmallMember")


<div id="small-member-component">
    <div class="user">
        <h1><a href="@Url.Action("Index", "Profile", new { id = @Model.Member.Id })">@Model.Member.UserName.Truncate(25)</a></h1>
        <h2>joined @Model.Member.CreationDate.ToRelativeDate()</h2>
        <div>
            <div class="profile-image-area">
                <img class="profile-image" src="@Model.Member.ThumbnailPath()" alt="@Model.Member.UserName" />
            </div>
            <div class="notification ratings">
                <span class="label">RAT</span>
                <span class="number">@Model.NRatedBy</span>
            </div>
            <div class="profile-stats-area">
                <p class="stat published">
                    <span class="number">@Model.NPublishedReports</span>
                    <span class="label">reports</span>
                </p>
            </div>
        </div>
        @{if(User.Identity.IsAuthenticated)
          { 
        <div class="follow-link">
            <a href="@Url.Action("Follow", "MembersComponent", new { id = @Model.Member.Id })">@Model.FollowMessage</a>
        </div>
        }
        }
    </div>
</div>