﻿@using Tellat2.Extensions
@model Tellat2.Pages.ViewModels.AboutViewModel

<!-- Column one -->
<div class="column-one">

    <div class="section-header">About tell<span class="red-text">at</span></div>

    

</div>


