﻿@using Tellat2.Extensions
@using Framework2.Core.Repositories.Core.Interfaces
@model Tellat2.Components.ViewModels.NotificationsComponentViewModel

@Styles.Render("~/Content/componentNotifications")


<div id="notifications-component">

    <!-- Favourites -->
    @foreach (var item in @Model.Notifications)
    {
        if (item.NotificationType == NotificationTypes.JoinGroupRequest)
        {
            <div class="notification">

                <span>
                    <a href="@Url.Action("RejectNotification", "Profile", new { id = item.ID})">&nbsp;|&nbsp;Reject</a>
                    <a href="@Url.Action("AcceptNotification", "Profile", new { id = item.ID })">&nbsp;Accept</a>
                    You've received a request to join newsgroup @item.GroupName from user&nbsp;
                    <a href="@Url.Action("Index", "Profile", new { id = @item.Sender })">@item.SenderName&nbsp;:</a>
                </span>
            </div>
        }
    }

</div>