﻿@using Tellat2.Extensions
@using Framework2.Core.Extensions
@model Tellat2.Components.ViewModels.DashboardComponentViewModel

@Styles.Render("~/Content/componentDashboard")


<!-- Dashboard component -->
<div id="dashboard-component">
    <span class="titling">@Model.Member.UserName</span>
    <div id="dashboard-component-stats" class="item">
        <div class="profile-image-area">
            <img class="profile-image" src="@Model.Member.ThumbnailPath()" alt="@Model.Member.UserName" />
            <p class="notification ratings">
                <span class="label">RAT</span>
                <span class="number">(@Model.NFavourites)</span>
            </p>
            <p class="notification comments">
                <span class="label">COM</span>
                <span class="number">(@Model.NCommentedOn)</span>
            </p>
        </div>
        <div class="profile-stats-area">
            <p class="stat published">
                <span class="number">@Model.NFollowSources</span>
                <span class="label">following</span>
            </p>
            <p class="stat favourites">
                <span class="number">@Model.NFollowTargets</span>
                <span class="label">followed by</span>
            </p>
        </div>

        <script>
            var dashboardData = [
                {
                    value: @Model.NPublished,
                    color: '#c91e4b'
                },
                {
                    value: @Model.NUnpublished,
                    color: '#ccc'
                }
            ];
        </script>
    </div>
    <div class="item doughnut">
        <canvas id="dashboard-doughnut" width="180" height="180"></canvas>
        <div class="doughnut-inner">
            <p class="stat published">
                <span class="number">@Model.NPublished</span>
                <span class="label">published</span>
            </p>
            <p class="stat unpublished">
                <span class="label">un-published</span>
                <span class="number">@Model.NUnpublished</span>
            </p>
        </div>
    </div>
    <ul class="links">
        <li>
            @Html.ActionLink("My Reports", "Index", "MyReports", new { id = @Model.Member.Id }, null)
        </li>
        <li>
            @Html.ActionLink("I'm Following", "Index", "Following", new { id = @Model.Member.Id }, null)
        </li>
        <li>
            @Html.ActionLink("Following Me", "Index", "Followers", new { id = @Model.Member.Id }, null)
        </li>
        <li>
            @Html.ActionLink("My Profile", "Index", "Profile", new { id = @Model.Member.Id }, null)
        </li>
        <li>
            @Html.ActionLink("Change My Details", "EditAccount", "Account", new { id = @Model.Member.Id }, null)
        </li>

    </ul>

    </div>
