﻿
@using System.Web
@using Microsoft.AspNet.Identity

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tellat</title>
    <link rel="shortcut icon" href="" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300' rel='stylesheet' type='text/css'>

    <!-- CSS bundles -->
    @Styles.Render("~/Content/desktop-core")
    @Styles.Render("~/Content/fancybox")

    @RenderSection("css", required: false)

    <!-- Javascript -->
    @Scripts.Render("~/Bundles/jquery-base")
    @Scripts.Render("~/Bundles/jquery-val")

    @Scripts.Render("~/Bundles/fancybox")
    @Scripts.Render("~/Bundles/jwplayer")
    @Scripts.Render("~/Bundles/fineuploader")
    @Scripts.Render("~/Bundles/rater")
    @Scripts.Render("~/Bundles/chartjs")

    @RenderSection("scripts", required: false)

    <!-- JWPlayer initialisation -->
    <script type="text/javascript">
        jwplayer.key = "IdTjlA60RI9yOlLDx76qPJ0ACO3Y7bsS1HHOvA==";
    </script>
</head>

    <body >
        
        <!-- Facebook API -->
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Header -->
        <header>
            <a href="@Url.Action("Index", "Home")" id="tellat-logo"></a>
            <div id="tag-cloud">
                @{ Html.RenderAction("Index", "TrendingComponent"); }
            </div>
            <div id="profile-links">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Index", "Profile", new { id = @User.Identity.GetUserId().ToString()})">@HttpContext.Current.User.Identity.Name</a>
                    <text>|</text>
                    <a href="@Url.Action("LogOff", "Account")" >Sign<span class="red-text">out</span></a>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")">Sign<span class="red-text">in</span></a>
                    <text>|</text>
                    <a href="@Url.Action("Register", "Account")">Register</a>
                }

            </div>
            @{ Html.RenderAction("Index", "SearchComponent"); }
        </header>
        
        <!-- Navigation -->
        @{ Html.RenderAction("Index", "NavigationComponent"); }

        <!-- Main -->
        <div id="main">
            @RenderBody()
        </div>
        
        <!-- Footer -->
        <footer>
            @{ Html.RenderAction("Index", "FooterComponent"); }
        </footer>

        <!-- Fancybox initialisation -->
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    helpers: {
                        overlay: {
                            css: {
                                'background': 'rgba(42, 42, 42, 0.8)'
                            }
                        }
                    }
                });
            });
        </script>

        <!-- Redirect on AJAX errors -->
        <script type="text/javascript">
            $(document).ajaxError(function (e, xhr, settings) {
                console.log(xhr.status);
                if (xhr.status == 401) {
                    window.location.reload();
                }
            });
        </script>

      <script type="text/javascript">
          var dd = document.getElementById('dashboard-doughnut');
          if (dd) {
              var dashboardDoughnut = new Chart(dd.getContext('2d'))
                .Doughnut(dashboardData, {
                    segmentShowStroke: false,
                    percentageInnerCutout: 80
                });
          }
      </script>
 
    </body>

</html>