﻿@model Tellat2.Pages.ViewModels.GroupViewModel
@Styles.Render("~/Content/Group")
@{
    ViewBag.Title = @Model.CurrentUser.UserName;
}

<!-- Column one -->
<div id="create-group-master" class="uploadForm">

    <div class="section-header">Create a New Group</div>

    <!-- Profile form -->
    @using (Html.BeginForm("Create", "Group", FormMethod.Post, new { @id = "form" }))
    {
        <div class="field-validation-error">
            @Html.ValidationSummary(false)
        </div>
        <table>
            <tr>
                <td class="label label-column">Group Name</td>
                <td class="input-column">@Html.TextBoxFor(m => m.Title, new { autocomplete = "off" })</td>
            </tr>
            <tr>
                <td class="label label-column">Description</td>
                <td colspan="3">@Html.TextAreaFor(m => m.Description, new { @class = "text-area" })</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="Create" class="red-button" /></td>
            </tr>
        </table>
    }
</div>

