@using Tellat2.Extensions
@using Framework2.Core.Extensions
@model Tellat2.Components.ViewModels.CommentComponentViewModel

@Styles.Render("~/Content/componentComment")

<!-- Comments widget -->
<div id="comment-component">

    <h1>Comments</h1>

    <!-- Comments -->
    <div id="comment-list">
        @foreach (var item in @Model.Comments)
        {
            <div class="item">
                <div class="text-area">
                    <span class="time-span">@item.CreationDate.ToRelativeDate()</span>
                    @{if (@item.ApplicationUser == null)
                    {
                        <img class="profile-image" src="~/Content/Images/Pages/Shared/user.png" alt="anonymous user" />
                        <img class="profile-overlay" src="~/Content/Images/Components/Comment/circle-small.png" alt="overlay" />
                        <div class="title">Anonymous</div>
                    }
                    else
                    {
                        <img class="profile-image" src="@item.ApplicationUser.ThumbnailPath()" alt="@item.ApplicationUser.UserName" />
                        <img class="profile-overlay" src="~/Content/Images/Components/Comment/circle-small.png" alt="overlay" />
                        <div class="title">@item.ApplicationUser.UserName</div>
                    }
                    }
                    <div class="sub-title">
                        @item.Text
                    </div>
                </div>
            </div>
        }
    </div>



                <!-- Form -->
                @*@if (Model.IsLoggedIn) This is commented out to allow comments from non-logged in users
                    {*@
                <div id="entry-box">
                    @using (Ajax.BeginForm("Post", "CommentComponent", null, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "comment-component" }))
            {
                        <fieldset>
                            @Html.ValidationMessageFor(m => m.Text)

                            @Html.HiddenFor(m => m.ReportId)

                            @Html.TextAreaFor(m => m.Text, new { @id = "comment-area", placeholder = "Add your comment..." })
                            <div id="toolbar">
                                <input type="submit" value="Post" class="red-button" />
                            </div>
                        </fieldset>
            }
                </div>
                @*}*@

            </div>

            <!-- Ensure the comment box is empty and focussed -->
            <script>
                $('#comment-area').val("");
                $('#comment-area').focus();
            </script>
