﻿@using Tellat2.Extensions
@using Microsoft.AspNet.Identity

@model Tellat2.Pages.ViewModels.FollowersViewModel

@Styles.Render("~/Content/Users")
@{
    ViewBag.Title = "My Followers";
}

<!-- Page container -->
<div>
    @{
    if (User.Identity.IsAuthenticated)
    {
        <div class="column-one page-grey">
            @{Html.RenderAction("Index", "MembersComponent", new { users = @Model.Members, sortCriterion = @Model.UsersSortCriterion, title = @Model.Title });}
        </div>
            <div class="column-two">
                @{ Html.RenderAction("Index", "DashboardComponent", new { id = User.Identity.GetUserId().ToString() }); }
            </div>
        }
    }
</div>


