﻿@Styles.Render("~/Content/Home")


<div class="column-one page-grey">
    <div class="large-message">
        <p>Many of tell<span class="red-text">at</span>'s features work best if you're registered and signed in.</p>
        <p>Please either register or sign in @Html.ActionLink("here", "Login", "Account").</p>
        <p>Thank you for your interest!</p>
        </div>
    <div class ="large-message">
        <p>tell<span class="red-text">at</span></p>
        <p>'Witness, Record, Edit, and<br />Post to the World…'</p>
    </div>
</div>

