@model Tellat2.Components.ViewModels.ReportContentComponentViewModel
           
@Styles.Render("~/Content/componentReportContent")

<!-- Report component -->
<div id="report-component">
    <h1>@Model.Report.Title</h1>
    <p>@Model.Report.Text</p>
</div>
