@using System
@using Tellat2.Extensions
@model Tellat2.Components.ViewModels.MembersComponentViewModel

@{
    var url = "";
}

@Styles.Render("~/Content/componentMembers")


<!-- Members component -->
<div id="members-component">
    <div class="members-header">
        @{if (!string.IsNullOrEmpty(Model.Title))
        {
            <div class="section-header headTitle"><span>@Model.Title</span></div>
        }
        }
        <div class="sortBy">
            <span>&nbsp;Sort by:</span>
            <div class="dropDown">
                @Html.DropDownListFor(x => x.UsersSortCriterion, Model.SortCriteria, new { @id = "UsersSortCriterion", onchange = "SortChanged()" })
            </div>
        </div>
    </div>

    <div class="members-body">
        <!-- Users -->
        @foreach (var item in @Model.Members)
        {
            Html.RenderAction("Index", "SmallMemberComponent", new { id = item.Id });
        }
    </div>

</div>
<script type="text/javascript">
    function SortChanged() {
        var sortCriterion = $("#UsersSortCriterion").val();
        window.location.href = '@url' + '?usersSortCriterion=' + sortCriterion;
        return false;
    }
</script>
