@model Tellat2.Pages.ViewModels.RegistrationViewModel

@Styles.Render("~/Content/Registration")
@{
    ViewBag.Title = "Registration";
}

<div id="registration-master">

    <div class="section-header">tell<span class="red-text">at</span> registration</div>

    <!-- Registration form -->
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @model = @Model}))
    {
        @Html.AntiForgeryToken()
        
        <div class="field-validation-error">
            @Html.ValidationSummary(false)
        </div>
        <table>
            <tr>
                <td class="label label-column">First Name</td>
                <td class="input-column">@Html.TextBoxFor(m => m.FirstName, new { autocomplete = "off" })</td>
                <td class="label label-column">Last Name</td>
                <td class="input-column">@Html.TextBoxFor(m => m.LastName, new { autocomplete = "off" })</td>
                <td></td>
            </tr>
            <tr>
                <td class="label label-column">Email Address</td>
                <td class="input-column">@Html.TextBoxFor(m => m.EmailAddress, new { autocomplete = "off" })</td>
                <td colspan="2">You will receive an email to validate your account</td>
            </tr>
            <tr>
                <td class="label label-column">Confirm Email</td>
                <td class="input-column">@Html.TextBoxFor(m => m.EmailAddressRepeat, new { autocomplete = "off" })</td>

            </tr>
            <tr>
                <td class="label label-column">Username</td>
                <td class="input-column">@Html.TextBoxFor(m => m.UserName, new { autocomplete = "off" })</td>
                <td colspan="2">This can be changed later!</td>
            </tr>
            <tr>
                <td class="label label-column">Password</td>
                <td class="input-column">@Html.PasswordFor(m => m.Password, new { autocomplete = "off" })</td>

            </tr>
            <tr>
                <td class="label label-column">Confirm Password</td>
                <td class="input-column">@Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })</td>
            </tr>

            <tr>
                <td class="label label-column">Gender</td>
                <td class="input-column">@Html.DropDownListFor(m => m.GenderId, @Model.Genders, "Select your gender")</td>
                <td class="input-column">@Html.CheckBoxFor(m => m.IsGenderPublished) Show in Profile</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="label tiny-column">Birthday</td>
                <td class="narrow-column">@Html.DropDownListFor(m => m.BirthDayId, @Model.BirthDays, "Select a day")</td>
                <td class="narrow-column">@Html.DropDownListFor(m => m.BirthMonthId, @Model.BirthMonths, "Select a month")</td>
                <td class="narrow-column">@Html.DropDownListFor(m => m.BirthYearId, @Model.BirthYears, "Select a year")</td>
                <td class="narrow-column">@Html.CheckBoxFor(m => m.IsYearOfBirthPublished) Show my age</td>
                <td class="narrow-column">@Html.CheckBoxFor(m => m.IsDateOfBirthPublished) Show my date of birth</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="label label-column">Country</td>
                <td class="input-column">@Html.DropDownListFor(m => m.CountryId, @Model.Countries, "Select a Country")</td>
                <td class="input-column">@Html.CheckBoxFor(m => m.IsLocationPublished) Show my location in Profile</td>
                <td></td>
            </tr>
            <tr>
                <td class="label label-column">Biography</td>
                <td colspan="3">@Html.TextAreaFor(m => m.ProfileText, new { @class = "text-area" })</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="Register" class="red-button" /></td>
            </tr>
        </table>
    }

</div>



